<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Lesson2</title>
</head>

<body>
<h1>Список студентов:</h1>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Наименование</td>
        <td>Цена</td>
    </tr>
    </thead>
    <tbody>

    <tr th:each="p : ${products}">
        <td th:text="${p.ID}"></td>
        <td th:text="${p.title}"></td>
        <td th:text="${p.cost}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">на Главную страницу</a>
</body>
</html>